In [13]:
from pandas import *
from queryWikidata import query_wikidata

endpoint = "https://query.wikidata.org/sparql"
user_agent = "Mozilla/5.0 (Macintosh; Intel Mac OS X 10.15; rv:105.0) Gecko/20100101 Firefox/105.0"

Since the films extracted in the "categories.py" file are described as `based on` some novels, in this notebook the data will be retrienved on the basis of this property (`P144` -> "based on").

## 1. Audiovisual works and written works

In [26]:
derivative_works = set()

In [27]:
q1_based_on = """
SELECT DISTINCT ?derivativeWork
WHERE {
    {
      ?work wdt:P31 wd:Q47461344 .
    }UNION{
      ?work wdt:P31/wdt:P279* wd:Q7725634 .
    }
    ?derivativeWork wdt:P31/wdt:P279* wd:Q2431196  .
    ?derivativeWork wdt:P144 ?work .                           
} 
"""
based_on_df1 = query_wikidata(endpoint, q1_based_on, user_agent, True)

# Add the results to the set
for index, row in based_on_df1.iterrows():
    derivative_works.add(row['derivativeWork'])
    
based_on_df1

                                 derivativeWork
0        http://www.wikidata.org/entity/Q184542
1        http://www.wikidata.org/entity/Q520744
2        http://www.wikidata.org/entity/Q601760
3        http://www.wikidata.org/entity/Q745283
4       http://www.wikidata.org/entity/Q1056775
...                                         ...
14878  http://www.wikidata.org/entity/Q25454430
14879  http://www.wikidata.org/entity/Q27964343
14880  http://www.wikidata.org/entity/Q28730407
14881  http://www.wikidata.org/entity/Q48856206
14882  http://www.wikidata.org/entity/Q57523564

[14883 rows x 1 columns]

In [28]:
q1_influenced_by = """
SELECT DISTINCT ?derivativeWork
WHERE {
    {
      ?work wdt:P31 wd:Q47461344 .
    }UNION{
      ?work wdt:P31/wdt:P279* wd:Q7725634 .
    }
    ?derivativeWork wdt:P31/wdt:P279* wd:Q2431196  .
    ?derivativeWork wdt:P737 ?work .                           
} 
"""
influenced_by_df1 = query_wikidata(endpoint, q1_influenced_by, user_agent, True)

# Add the results to the set
for index, row in influenced_by_df1.iterrows():
    derivative_works.add(row['derivativeWork'])

influenced_by_df1

                               derivativeWork
0    http://www.wikidata.org/entity/Q65738708
1      http://www.wikidata.org/entity/Q337881
2      http://www.wikidata.org/entity/Q488655
3      http://www.wikidata.org/entity/Q696455
4     http://www.wikidata.org/entity/Q1218888
5     http://www.wikidata.org/entity/Q1545458
6     http://www.wikidata.org/entity/Q3824799
7     http://www.wikidata.org/entity/Q4424338
8    http://www.wikidata.org/entity/Q46034734
9   http://www.wikidata.org/entity/Q109828410
10       http://www.wikidata.org/entity/Q2744

In [29]:
q1_inspired_by = """
SELECT DISTINCT ?derivativeWork
WHERE {
    {
      ?work wdt:P31 wd:Q47461344 .
    }UNION{
      ?work wdt:P31/wdt:P279* wd:Q7725634 .
    }
    ?derivativeWork wdt:P31/wdt:P279* wd:Q2431196  .
    ?derivativeWork wdt:P941 ?work .                           
} 
"""
inspired_by_df1 = query_wikidata(endpoint, q1_inspired_by, user_agent, True)

# Add the results to the set
for index, row in inspired_by_df1.iterrows():
    derivative_works.add(row['derivativeWork'])

inspired_by_df1

                                derivativeWork
0      http://www.wikidata.org/entity/Q3829154
1      http://www.wikidata.org/entity/Q1196184
2      http://www.wikidata.org/entity/Q7728885
3     http://www.wikidata.org/entity/Q16688763
4     http://www.wikidata.org/entity/Q10526473
..                                         ...
260  http://www.wikidata.org/entity/Q108445250
261    http://www.wikidata.org/entity/Q2699578
262    http://www.wikidata.org/entity/Q1289681
263    http://www.wikidata.org/entity/Q2027855
264     http://www.wikidata.org/entity/Q177233

[265 rows x 1 columns]

In [30]:
q1_reference = """
SELECT DISTINCT ?derivativeWork
WHERE {
    {
      ?work wdt:P31 wd:Q47461344 .
    }UNION{
      ?work wdt:P31/wdt:P279* wd:Q7725634 .
    }
    ?derivativeWork wdt:P31/wdt:P279* wd:Q2431196  .
    ?derivativeWork wdt:P8371 ?work .                           
} 
"""
reference_df1 = query_wikidata(endpoint, q1_reference, user_agent, True)

# Add the results to the set
for index, row in reference_df1.iterrows():
    derivative_works.add(row['derivativeWork'])

reference_df1

                               derivativeWork
0       http://www.wikidata.org/entity/Q74401
1     http://www.wikidata.org/entity/Q1529879
2     http://www.wikidata.org/entity/Q8028590
3      http://www.wikidata.org/entity/Q318975
4     http://www.wikidata.org/entity/Q3232629
..                                        ...
85     http://www.wikidata.org/entity/Q241218
86   http://www.wikidata.org/entity/Q16744121
87    http://www.wikidata.org/entity/Q6950089
88   http://www.wikidata.org/entity/Q64577280
89  http://www.wikidata.org/entity/Q104184744

[90 rows x 1 columns]

In [31]:
q1_derived = """
SELECT DISTINCT ?derivativeWork 
WHERE {
    {
      ?work wdt:P31 wd:Q47461344 .
    }UNION{
      ?work wdt:P31/wdt:P279* wd:Q7725634 .
    }
    ?derivativeWork wdt:P31/wdt:P279* wd:Q2431196  .
    ?derivativeWork wdt:P4969 ?work .                           
} 
"""
derived_df1 = query_wikidata(endpoint, q1_derived, user_agent, True)

# Add the results to the set
for index, row in derived_df1.iterrows():
    derivative_works.add(row['derivativeWork'])

derived_df1

                               derivativeWork
0      http://www.wikidata.org/entity/Q131007
1      http://www.wikidata.org/entity/Q108774
2      http://www.wikidata.org/entity/Q212156
3      http://www.wikidata.org/entity/Q622282
4      http://www.wikidata.org/entity/Q171711
..                                        ...
276  http://www.wikidata.org/entity/Q61095392
277   http://www.wikidata.org/entity/Q7694423
278    http://www.wikidata.org/entity/Q501338
279    http://www.wikidata.org/entity/Q543203
280    http://www.wikidata.org/entity/Q390120

[281 rows x 1 columns]

In [22]:
q1_inspired_by_artist = """
SELECT (COUNT(DISTINCT ?derivativeWork) AS ?inspiredByArtist) 
WHERE {
    {
      ?work wdt:P31 wd:Q47461344 .
    }UNION{
      ?work wdt:P31/wdt:P279* wd:Q7725634 .
    }
    ?derivativeWork wdt:P31/wdt:P279* wd:Q2431196  .
    ?derivativeWork wdt:P1877 ?person .                         
} 
"""
inspired_by_artist_df1 = query_wikidata(endpoint, q1_inspired_by_artist, user_agent, True)
inspired_by_artist_df1

KeyboardInterrupt:

In [32]:
len(derivative_works)

15430

## 2. Films and written works

"""
SELECT (COUNT(DISTINCT ?derivativeWork) AS ?derivativeWork) 
WHERE {
  {
    ?work wdt:P31 wd:Q47461344 .
  }UNION{
    ?work wdt:P31/wdt:P279* wd:Q7725634 .
  }
  ?derivativeWork wdt:P31/wdt:P279* wd:Q11424  .
   ?derivativeWork wdt:P144 ?work .                           
} 
"""

In [3]:
query_films = """
SELECT (COUNT(DISTINCT ?derivativeWork) AS ?derivativeWork) 
WHERE {
  {
    ?work wdt:P31 wd:Q47461344 .
  }UNION{
    ?work wdt:P31/wdt:P279* wd:Q7725634 .
  }
  ?derivativeWork wdt:P31/wdt:P279* wd:Q11424  .
   ?derivativeWork wdt:P144 ?work .                           
} 
"""
films_df = query_wikidata(endpoint, query_films, user_agent, True)
films_df

   derivativeWork
0           11275

## 3. Any kind of film based on any kind of literary work

In [4]:
query_films_literary_works = """
SELECT (COUNT(DISTINCT ?derivativeWork) AS ?derivativeWork) 
WHERE {
  ?work wdt:P31/wdt:P279* wd:Q7725634 .
  ?derivativeWork wdt:P31/wdt:P279* wd:Q11424  .
  ?derivativeWork wdt:P144 ?work .                           
} 
"""
films_literary_works_df = query_wikidata(endpoint, query_films_literary_works, user_agent, True)
films_literary_works_df

   derivativeWork
0            9462

### b. Any kind of film based on any kind of italian literary work

In [6]:
query_films_italian_literary_works = """
SELECT (COUNT(DISTINCT ?derivativeWork) AS ?derivativeWork) 
WHERE {
  ?work wdt:P31/wdt:P279* wd:Q7725634 .
  ?derivativeWork wdt:P31/wdt:P279* wd:Q11424  .
  ?derivativeWork wdt:P144 ?work .   
  
  ?person wdt:P31 wd:Q5 ;
            wdt:P27 ?country .                          #the block gets the writers having had the citizenship of a country, whose capital city is now an Italian city
    ?country (wdt:P36 | p:P36 / ps:P36) ?capitalCity .  
    ?capitalCity wdt:P31 wd:Q515 ; #get cities
                  wdt:P17 wd:Q38 .


    {
      ?work wdt:P170 ?person .
     }UNION{
      ?work wdt:P50 ?person .                            
     }UNION{
      VALUES ?authorOf {wdt:P1455 wdt:P800}      
      ?person ?authorOf ?work .
    }
                         
}
"""
films_italian_literary_works_df = query_wikidata(endpoint, query_films_italian_literary_works, user_agent, True)
films_italian_literary_works_df

   derivativeWork
0             141

## 4. Any kind of film based of novels

In [5]:
query_films_novels = """
SELECT (COUNT(DISTINCT ?derivativeWork) AS ?derivativeWork) 
WHERE {
  ?work wdt:P31 wd:Q8261 .
  ?derivativeWork wdt:P31/wdt:P279* wd:Q11424  .
  ?derivativeWork wdt:P144 ?work .                           
} 
"""
films_novels_df = query_wikidata(endpoint, query_films_novels, user_agent, True)
films_novels_df

   derivativeWork
0              69