In [35]:
from pandas import *
from queryWikidata import query_wikidata

endpoint = "https://query.wikidata.org/sparql"
user_agent = "Mozilla/5.0 (Macintosh; Intel Mac OS X 10.15; rv:105.0) Gecko/20100101 Firefox/105.0"

Since the films extracted in the "categories.py" file are described as `based on` some novels, in this notebook the data will be retrienved on the basis of this property (`P144` -> "based on").

## 1. Audiovisual works and written works

In [36]:
derivative_works = set()

In [37]:
q1_based_on = """
SELECT DISTINCT ?derivativeWork
WHERE {
    {
      ?work wdt:P31 wd:Q47461344 .
    }UNION{
      ?work wdt:P31/wdt:P279* wd:Q7725634 .
    }
    ?derivativeWork wdt:P31/wdt:P279* wd:Q2431196  .
    ?derivativeWork wdt:P144 ?work .                           
} 
"""
based_on_df1 = query_wikidata(endpoint, q1_based_on, user_agent, True)

# Add the results to the set
for index, row in based_on_df1.iterrows():
    derivative_works.add(row['derivativeWork'])
    
based_on_df1

                                 derivativeWork
0       http://www.wikidata.org/entity/Q1056775
1        http://www.wikidata.org/entity/Q184542
2        http://www.wikidata.org/entity/Q520744
3        http://www.wikidata.org/entity/Q601760
4        http://www.wikidata.org/entity/Q745283
...                                         ...
14880  http://www.wikidata.org/entity/Q25454430
14881  http://www.wikidata.org/entity/Q27964343
14882  http://www.wikidata.org/entity/Q28730407
14883  http://www.wikidata.org/entity/Q48856206
14884  http://www.wikidata.org/entity/Q57523564

[14885 rows x 1 columns]

In [38]:
q1_influenced_by = """
SELECT DISTINCT ?derivativeWork
WHERE {
    {
      ?work wdt:P31 wd:Q47461344 .
    }UNION{
      ?work wdt:P31/wdt:P279* wd:Q7725634 .
    }
    ?derivativeWork wdt:P31/wdt:P279* wd:Q2431196  .
    ?derivativeWork wdt:P737 ?work .                           
} 
"""
influenced_by_df1 = query_wikidata(endpoint, q1_influenced_by, user_agent, True)

# Add the results to the set
for index, row in influenced_by_df1.iterrows():
    derivative_works.add(row['derivativeWork'])

influenced_by_df1

                               derivativeWork
0    http://www.wikidata.org/entity/Q65738708
1      http://www.wikidata.org/entity/Q337881
2      http://www.wikidata.org/entity/Q488655
3      http://www.wikidata.org/entity/Q696455
4     http://www.wikidata.org/entity/Q1218888
5     http://www.wikidata.org/entity/Q1545458
6     http://www.wikidata.org/entity/Q3824799
7     http://www.wikidata.org/entity/Q4424338
8    http://www.wikidata.org/entity/Q46034734
9   http://www.wikidata.org/entity/Q109828410
10       http://www.wikidata.org/entity/Q2744

In [39]:
q1_inspired_by = """
SELECT DISTINCT ?derivativeWork
WHERE {
    {
      ?work wdt:P31 wd:Q47461344 .
    }UNION{
      ?work wdt:P31/wdt:P279* wd:Q7725634 .
    }
    ?derivativeWork wdt:P31/wdt:P279* wd:Q2431196  .
    ?derivativeWork wdt:P941 ?work .                           
} 
"""
inspired_by_df1 = query_wikidata(endpoint, q1_inspired_by, user_agent, True)

# Add the results to the set
for index, row in inspired_by_df1.iterrows():
    derivative_works.add(row['derivativeWork'])

inspired_by_df1

                                derivativeWork
0      http://www.wikidata.org/entity/Q3829154
1      http://www.wikidata.org/entity/Q1196184
2      http://www.wikidata.org/entity/Q7728885
3     http://www.wikidata.org/entity/Q16688763
4     http://www.wikidata.org/entity/Q10526473
..                                         ...
260  http://www.wikidata.org/entity/Q108445250
261    http://www.wikidata.org/entity/Q2699578
262    http://www.wikidata.org/entity/Q1289681
263    http://www.wikidata.org/entity/Q2027855
264     http://www.wikidata.org/entity/Q177233

[265 rows x 1 columns]

In [40]:
q1_reference = """
SELECT DISTINCT ?derivativeWork
WHERE {
    {
      ?work wdt:P31 wd:Q47461344 .
    }UNION{
      ?work wdt:P31/wdt:P279* wd:Q7725634 .
    }
    ?derivativeWork wdt:P31/wdt:P279* wd:Q2431196  .
    ?derivativeWork wdt:P8371 ?work .                           
} 
"""
reference_df1 = query_wikidata(endpoint, q1_reference, user_agent, True)

# Add the results to the set
for index, row in reference_df1.iterrows():
    derivative_works.add(row['derivativeWork'])

reference_df1

                               derivativeWork
0       http://www.wikidata.org/entity/Q74401
1     http://www.wikidata.org/entity/Q1529879
2     http://www.wikidata.org/entity/Q8028590
3      http://www.wikidata.org/entity/Q318975
4     http://www.wikidata.org/entity/Q3232629
..                                        ...
85     http://www.wikidata.org/entity/Q241218
86   http://www.wikidata.org/entity/Q16744121
87    http://www.wikidata.org/entity/Q6950089
88   http://www.wikidata.org/entity/Q64577280
89  http://www.wikidata.org/entity/Q104184744

[90 rows x 1 columns]

In [41]:
q1_derived = """
SELECT DISTINCT ?derivativeWork 
WHERE {
    {
      ?work wdt:P31 wd:Q47461344 .
    }UNION{
      ?work wdt:P31/wdt:P279* wd:Q7725634 .
    }
    ?derivativeWork wdt:P31/wdt:P279* wd:Q2431196  .
    ?derivativeWork wdt:P4969 ?work .                           
} 
"""
derived_df1 = query_wikidata(endpoint, q1_derived, user_agent, True)

# Add the results to the set
for index, row in derived_df1.iterrows():
    derivative_works.add(row['derivativeWork'])

derived_df1

                               derivativeWork
0      http://www.wikidata.org/entity/Q131007
1      http://www.wikidata.org/entity/Q108774
2      http://www.wikidata.org/entity/Q212156
3      http://www.wikidata.org/entity/Q622282
4      http://www.wikidata.org/entity/Q171711
..                                        ...
276  http://www.wikidata.org/entity/Q61095392
277   http://www.wikidata.org/entity/Q7694423
278    http://www.wikidata.org/entity/Q501338
279    http://www.wikidata.org/entity/Q543203
280    http://www.wikidata.org/entity/Q390120

[281 rows x 1 columns]

In [42]:
q1_inspired_by_artist = """
SELECT (COUNT(DISTINCT ?derivativeWork) AS ?inspiredByArtist) 
WHERE {
    {
      ?work wdt:P31 wd:Q47461344 .
    }UNION{
      ?work wdt:P31/wdt:P279* wd:Q7725634 .
    }
    ?derivativeWork wdt:P31/wdt:P279* wd:Q2431196  .
    ?derivativeWork wdt:P1877 ?person .                         
} 
"""
inspired_by_artist_df1 = query_wikidata(endpoint, q1_inspired_by_artist, user_agent, True)
inspired_by_artist_df1

EndPointInternalError: EndPointInternalError: endpoint returned code 500 and response.

Response:
b'SPARQL-QUERY: queryStr=\nSELECT (COUNT(DISTINCT ?derivativeWork) AS ?inspiredByArtist) \nWHERE {\n    {\n      ?work wdt:P31 wd:Q47461344 .\n    }UNION{\n      ?work wdt:P31/wdt:P279* wd:Q7725634 .\n    }\n    ?derivativeWork wdt:P31/wdt:P279* wd:Q2431196  .\n    ?derivativeWork wdt:P1877 ?person .                         \n} \n\njava.util.concurrent.TimeoutException\n\tat java.util.concurrent.FutureTask.get(FutureTask.java:205)\n\tat com.bigdata.rdf.sail.webapp.BigdataServlet.submitApiTask(BigdataServlet.java:292)\n\tat com.bigdata.rdf.sail.webapp.QueryServlet.doSparqlQuery(QueryServlet.java:678)\n\tat com.bigdata.rdf.sail.webapp.QueryServlet.doPost(QueryServlet.java:275)\n\tat com.bigdata.rdf.sail.webapp.RESTServlet.doPost(RESTServlet.java:269)\n\tat com.bigdata.rdf.sail.webapp.MultiTenancyServlet.doPost(MultiTenancyServlet.java:195)\n\tat javax.servlet.http.HttpServlet.service(HttpServlet.java:707)\n\tat javax.servlet.http.HttpServlet.service(HttpServlet.java:790)\n\tat org.eclipse.jetty.servlet.ServletHolder.handle(ServletHolder.java:865)\n\tat org.eclipse.jetty.servlet.ServletHandler$CachedChain.doFilter(ServletHandler.java:1655)\n\tat org.wikidata.query.rdf.blazegraph.throttling.ThrottlingFilter.doFilter(ThrottlingFilter.java:320)\n\tat org.eclipse.jetty.servlet.ServletHandler$CachedChain.doFilter(ServletHandler.java:1642)\n\tat org.wikidata.query.rdf.blazegraph.throttling.SystemOverloadFilter.doFilter(SystemOverloadFilter.java:82)\n\tat org.eclipse.jetty.servlet.ServletHandler$CachedChain.doFilter(ServletHandler.java:1642)\n\tat ch.qos.logback.classic.helpers.MDCInsertingServletFilter.doFilter(MDCInsertingServletFilter.java:49)\n\tat org.eclipse.jetty.servlet.ServletHandler$CachedChain.doFilter(ServletHandler.java:1642)\n\tat org.wikidata.query.rdf.blazegraph.filters.QueryEventSenderFilter.doFilter(QueryEventSenderFilter.java:108)\n\tat org.eclipse.jetty.servlet.ServletHandler$CachedChain.doFilter(ServletHandler.java:1642)\n\tat org.wikidata.query.rdf.blazegraph.filters.ClientIPFilter.doFilter(ClientIPFilter.java:43)\n\tat org.eclipse.jetty.servlet.ServletHandler$CachedChain.doFilter(ServletHandler.java:1642)\n\tat org.wikidata.query.rdf.blazegraph.filters.JWTIdentityFilter.doFilter(JWTIdentityFilter.java:66)\n\tat org.eclipse.jetty.servlet.ServletHandler$CachedChain.doFilter(ServletHandler.java:1642)\n\tat org.wikidata.query.rdf.blazegraph.filters.RealAgentFilter.doFilter(RealAgentFilter.java:33)\n\tat org.eclipse.jetty.servlet.ServletHandler$CachedChain.doFilter(ServletHandler.java:1642)\n\tat org.wikidata.query.rdf.blazegraph.filters.RequestConcurrencyFilter.doFilter(RequestConcurrencyFilter.java:50)\n\tat org.eclipse.jetty.servlet.ServletHandler$CachedChain.doFilter(ServletHandler.java:1634)\n\tat org.eclipse.jetty.servlet.ServletHandler.doHandle(ServletHandler.java:533)\n\tat org.eclipse.jetty.server.handler.ScopedHandler.handle(ScopedHandler.java:146)\n\tat org.eclipse.jetty.security.SecurityHandler.handle(SecurityHandler.java:548)\n\tat org.eclipse.jetty.server.handler.HandlerWrapper.handle(HandlerWrapper.java:132)\n\tat org.eclipse.jetty.server.handler.ScopedHandler.nextHandle(ScopedHandler.java:257)\n\tat org.eclipse.jetty.server.session.SessionHandler.doHandle(SessionHandler.java:1595)\n\tat org.eclipse.jetty.server.handler.ScopedHandler.nextHandle(ScopedHandler.java:255)\n\tat org.eclipse.jetty.server.handler.ContextHandler.doHandle(ContextHandler.java:1340)\n\tat org.eclipse.jetty.server.handler.ScopedHandler.nextScope(ScopedHandler.java:203)\n\tat org.eclipse.jetty.servlet.ServletHandler.doScope(ServletHandler.java:473)\n\tat org.eclipse.jetty.server.session.SessionHandler.doScope(SessionHandler.java:1564)\n\tat org.eclipse.jetty.server.handler.ScopedHandler.nextScope(ScopedHandler.java:201)\n\tat org.eclipse.jetty.server.handler.ContextHandler.doScope(ContextHandler.java:1242)\n\tat org.eclipse.jetty.server.handler.ScopedHandler.handle(ScopedHandler.java:144)\n\tat org.eclipse.jetty.server.handler.ContextHandlerCollection.handle(ContextHandlerCollection.java:220)\n\tat org.eclipse.jetty.server.handler.HandlerCollection.handle(HandlerCollection.java:126)\n\tat org.eclipse.jetty.server.handler.HandlerWrapper.handle(HandlerWrapper.java:132)\n\tat org.eclipse.jetty.server.Server.handle(Server.java:503)\n\tat org.eclipse.jetty.server.HttpChannel.handle(HttpChannel.java:364)\n\tat org.eclipse.jetty.server.HttpConnection.onFillable(HttpConnection.java:260)\n\tat org.eclipse.jetty.io.AbstractConnection$ReadCallback.succeeded(AbstractConnection.java:305)\n\tat org.eclipse.jetty.io.FillInterest.fillable(FillInterest.java:103)\n\tat org.eclipse.jetty.io.ChannelEndPoint$2.run(ChannelEndPoint.java:118)\n\tat org.eclipse.jetty.util.thread.strategy.EatWhatYouKill.runTask(EatWhatYouKill.java:333)\n\tat org.eclipse.jetty.util.thread.strategy.EatWhatYouKill.doProduce(EatWhatYouKill.java:310)\n\tat org.eclipse.jetty.util.thread.strategy.EatWhatYouKill.tryProduce(EatWhatYouKill.java:168)\n\tat org.eclipse.jetty.util.thread.strategy.EatWhatYouKill.run(EatWhatYouKill.java:126)\n\tat org.eclipse.jetty.util.thread.ReservedThreadExecutor$ReservedThread.run(ReservedThreadExecutor.java:366)\n\tat org.eclipse.jetty.util.thread.QueuedThreadPool.runJob(QueuedThreadPool.java:765)\n\tat org.eclipse.jetty.util.thread.QueuedThreadPool$2.run(QueuedThreadPool.java:683)\n\tat java.lang.Thread.run(Thread.java:750)\n'

In [ ]:
len(derivative_works)

15430

## 2. Films and written works

In [44]:
derivative_works = set()
len(derivative_works)

0

In [45]:
q2_based_on = """
SELECT DISTINCT ?derivativeWork
WHERE {
  {
    ?work wdt:P31 wd:Q47461344 .
  }UNION{
    ?work wdt:P31/wdt:P279* wd:Q7725634 .
  }
  ?derivativeWork wdt:P31/wdt:P279* wd:Q11424  .
   ?derivativeWork wdt:P144 ?work .                           
} 
"""
based_on_df2 = query_wikidata(endpoint, q2_based_on, user_agent, True)

# Add the results to the set
for index, row in based_on_df2.iterrows():
    derivative_works.add(row['derivativeWork'])
    
based_on_df2

                                 derivativeWork
0         http://www.wikidata.org/entity/Q25069
1         http://www.wikidata.org/entity/Q27204
2         http://www.wikidata.org/entity/Q36739
3         http://www.wikidata.org/entity/Q41315
4         http://www.wikidata.org/entity/Q42047
...                                         ...
11272   http://www.wikidata.org/entity/Q7738172
11273  http://www.wikidata.org/entity/Q10339085
11274  http://www.wikidata.org/entity/Q10381445
11275  http://www.wikidata.org/entity/Q27964343
11276  http://www.wikidata.org/entity/Q57523564

[11277 rows x 1 columns]

In [47]:
q2_influenced_by = """
SELECT DISTINCT ?derivativeWork
WHERE {
    {
      ?work wdt:P31 wd:Q47461344 .
    }UNION{
      ?work wdt:P31/wdt:P279* wd:Q7725634 .
    }
    ?derivativeWork wdt:P31/wdt:P279* wd:Q11424  .
    ?derivativeWork wdt:P737 ?work .                           
} 
"""
influenced_by_df2 = query_wikidata(endpoint, q2_influenced_by, user_agent, True)

# Add the results to the set
for index, row in influenced_by_df2.iterrows():
    derivative_works.add(row['derivativeWork'])

influenced_by_df2

                            derivativeWork
0   http://www.wikidata.org/entity/Q337881
1   http://www.wikidata.org/entity/Q488655
2  http://www.wikidata.org/entity/Q1218888
3  http://www.wikidata.org/entity/Q3824799
4  http://www.wikidata.org/entity/Q4424338

In [49]:
q2_inspired_by = """
SELECT DISTINCT ?derivativeWork
WHERE {
    {
      ?work wdt:P31 wd:Q47461344 .
    }UNION{
      ?work wdt:P31/wdt:P279* wd:Q7725634 .
    }
    ?derivativeWork wdt:P31/wdt:P279* wd:Q11424  .
    ?derivativeWork wdt:P941 ?work .                           
} 
"""
inspired_by_df2 = query_wikidata(endpoint, q2_inspired_by, user_agent, True)

# Add the results to the set
for index, row in inspired_by_df2.iterrows():
    derivative_works.add(row['derivativeWork'])

inspired_by_df2

                               derivativeWork
0     http://www.wikidata.org/entity/Q1196184
1      http://www.wikidata.org/entity/Q189330
2      http://www.wikidata.org/entity/Q475763
3    http://www.wikidata.org/entity/Q16514601
4     http://www.wikidata.org/entity/Q7728885
..                                        ...
186   http://www.wikidata.org/entity/Q5120441
187  http://www.wikidata.org/entity/Q18844637
188  http://www.wikidata.org/entity/Q23006268
189   http://www.wikidata.org/entity/Q1289681
190   http://www.wikidata.org/entity/Q2027855

[191 rows x 1 columns]

In [51]:
q2_reference = """
SELECT DISTINCT ?derivativeWork
WHERE {
    {
      ?work wdt:P31 wd:Q47461344 .
    }UNION{
      ?work wdt:P31/wdt:P279* wd:Q7725634 .
    }
    ?derivativeWork wdt:P31/wdt:P279* wd:Q11424  .
    ?derivativeWork wdt:P8371 ?work .                           
} 
"""
reference_df2 = query_wikidata(endpoint, q2_reference, user_agent, True)

# Add the results to the set
for index, row in reference_df2.iterrows():
    derivative_works.add(row['derivativeWork'])

reference_df2

                               derivativeWork
0      http://www.wikidata.org/entity/Q327332
1      http://www.wikidata.org/entity/Q318975
2     http://www.wikidata.org/entity/Q1740171
3    http://www.wikidata.org/entity/Q11648811
4    http://www.wikidata.org/entity/Q16635326
5    http://www.wikidata.org/entity/Q22344480
6    http://www.wikidata.org/entity/Q65041276
7   http://www.wikidata.org/entity/Q100573244
8   http://www.wikidata.org/entity/Q107107865
9     http://www.wikidata.org/entity/Q8028590
10     http://www.wikidata.org/entity/Q147845
11     http://www.wikidata.org/entity/Q160560
12     http://www.wikidata.org/entity/Q182944
13     http://www.wikidata.org/entity/Q221236
14     http://www.wikidata.org/entity/Q250971
15     http://www.wikidata.org/entity/Q329805
16     http://www.wikidata.org/entity/Q466297
17     http://www.wikidata.org/entity/Q472600
18     http://www.wikidata.org/entity/Q579757
19    http://www.wikidata.org/entity/Q1066948
20    http://www.wikidata.org/entity/Q2554809
21    http://www.wikidata.org/entity/Q6418577
22   http://www.wikidata.org/entity/Q23817035
23   http://www.wikidata.org/entity/Q29567973
24   http://www.wikidata.org/entity/Q59488276
25   http://www.wikidata.org/entity/Q67171095
26   http://www.wikidata.org/entity/Q80322391
27   http://www.wikidata.org/entity/Q97168249
28  http://www.wikidata.org/entity/Q106097514
29  http://www.wikidata.org/entity/Q106371709
30      http://www.wikidata.org/entity/Q25366
31    http://www.wikidata.org/entity/Q2306760
32     http://www.wikidata.org/entity/Q535395
33    http://www.wikidata.org/entity/Q5690966
34     http://www.wikidata.org/entity/Q200572
35    http://www.wikidata.org/entity/Q1689499
36   http://www.wikidata.org/entity/Q27918412
37     http://www.wikidata.org/entity/Q241218
38   http://www.wikidata.org/entity/Q64577280
39  http://www.wikidata.org/entity/Q104184744

In [53]:
q2_derived = """
SELECT DISTINCT ?derivativeWork 
WHERE {
    {
      ?work wdt:P31 wd:Q47461344 .
    }UNION{
      ?work wdt:P31/wdt:P279* wd:Q7725634 .
    }
    ?derivativeWork wdt:P31/wdt:P279* wd:Q11424  .
    ?derivativeWork wdt:P4969 ?work .                           
} 
"""
derived_df2 = query_wikidata(endpoint, q2_derived, user_agent, True)

# Add the results to the set
for index, row in derived_df2.iterrows():
    derivative_works.add(row['derivativeWork'])

derived_df2

                                derivativeWork
0       http://www.wikidata.org/entity/Q171711
1       http://www.wikidata.org/entity/Q204670
2       http://www.wikidata.org/entity/Q221103
3       http://www.wikidata.org/entity/Q107940
4      http://www.wikidata.org/entity/Q1626245
..                                         ...
96    http://www.wikidata.org/entity/Q10882752
97    http://www.wikidata.org/entity/Q63104664
98   http://www.wikidata.org/entity/Q104630023
99   http://www.wikidata.org/entity/Q106707387
100  http://www.wikidata.org/entity/Q113539815

[101 rows x 1 columns]

In [ ]:
q2_inspired_by_artist = """
SELECT (COUNT(DISTINCT ?derivativeWork) AS ?inspiredByArtist) 
WHERE {
    {
      ?work wdt:P31 wd:Q47461344 .
    }UNION{
      ?work wdt:P31/wdt:P279* wd:Q7725634 .
    }
    ?derivativeWork wdt:P31/wdt:P279* wd:Q11424  .
    ?derivativeWork wdt:P1877 ?person .                         
} 
"""
inspired_by_artist_df2 = query_wikidata(endpoint, q2_inspired_by_artist, user_agent, True)
inspired_by_artist_df2

In [56]:
len(derivative_works)

11538

### b. Films and italian written works

In [90]:
derived_works_iww = set()

In [91]:
based_on_italian_ww = """
SELECT DISTINCT ?derivativeWork
WHERE {
  {
    ?work wdt:P31 wd:Q47461344 .
  }UNION{
    ?work wdt:P31/wdt:P279* wd:Q7725634 .
  }
  ?derivativeWork wdt:P31/wdt:P279* wd:Q11424  .
  ?derivativeWork wdt:P144 ?work .

  ?person wdt:P31 wd:Q5 ;
            wdt:P27 ?country .                          #the block gets the writers having had the citizenship of a country, whose capital city is now an Italian city
  ?country (wdt:P36 | p:P36 / ps:P36) ?capitalCity .  
  ?capitalCity wdt:P31 wd:Q515 ; #get cities
                  wdt:P17 wd:Q38 .


    {
      ?work wdt:P170 ?person .
     }UNION{
      ?work wdt:P50 ?person .                            
     }UNION{
      VALUES ?authorOf {wdt:P1455 wdt:P800}      
      ?person ?authorOf ?work .
    }

} 
"""
based_on_iww_df = query_wikidata(endpoint, based_on_italian_ww, user_agent, True)

# Add the results to the set
for index, row in based_on_iww_df.iterrows():
    derived_works_iww.add(row['derivativeWork'])

based_on_iww_df

                               derivativeWork
0       http://www.wikidata.org/entity/Q75593
1      http://www.wikidata.org/entity/Q128761
2      http://www.wikidata.org/entity/Q389511
3      http://www.wikidata.org/entity/Q596623
4      http://www.wikidata.org/entity/Q598109
..                                        ...
180   http://www.wikidata.org/entity/Q2082722
181   http://www.wikidata.org/entity/Q1199259
182  http://www.wikidata.org/entity/Q97356635
183  http://www.wikidata.org/entity/Q96376192
184   http://www.wikidata.org/entity/Q3950747

[185 rows x 1 columns]

In [92]:
based_on_italian_ww2 = """
SELECT DISTINCT ?derivativeWork
WHERE {
  {
    ?work wdt:P31 wd:Q47461344 .
  }UNION{
    ?work wdt:P31/wdt:P279* wd:Q7725634 .
  }
  ?derivativeWork wdt:P31/wdt:P279* wd:Q11424  .
  ?derivativeWork wdt:P144 ?work .
  
  ?work wdt:P407 wd:Q652 .
  
  MINUS {
     {
      ?work wdt:P170 ?person .
     }UNION{
      ?work wdt:P50 ?person .                            
     }UNION{
      VALUES ?authorOf {wdt:P1455 wdt:P800}      
      ?person ?authorOf ?work .
    }
  ?person wdt:P31 wd:Q5 ;
            wdt:P27 ?country .                          #the block gets the writers having had the citizenship of a country, whose capital city is now an Italian city
  ?country (wdt:P36 | p:P36 / ps:P36) ?capitalCity .  
  ?capitalCity wdt:P31 wd:Q515 . #get cities
  FILTER NOT EXISTS { ?capitalCity wdt:P17 wd:Q38 . }
  }

} 
"""
based_on_iww_df2 = query_wikidata(endpoint, based_on_italian_ww2, user_agent, True)

# Add the results to the set
for index, row in based_on_iww_df2.iterrows():
    derived_works_iww.add(row['derivativeWork'])

based_on_iww_df2

                                derivativeWork
0       http://www.wikidata.org/entity/Q155018
1       http://www.wikidata.org/entity/Q640054
2       http://www.wikidata.org/entity/Q649656
3       http://www.wikidata.org/entity/Q683014
4      http://www.wikidata.org/entity/Q1056781
..                                         ...
136  http://www.wikidata.org/entity/Q108672811
137  http://www.wikidata.org/entity/Q111751446
138  http://www.wikidata.org/entity/Q113529291
139  http://www.wikidata.org/entity/Q114725240
140      http://www.wikidata.org/entity/Q19356

[141 rows x 1 columns]

In [93]:
based_on_italian_ww3 = """
SELECT DISTINCT ?derivativeWork
WHERE {
  {
    ?work wdt:P31 wd:Q47461344 .
  }UNION{
    ?work wdt:P31/wdt:P279* wd:Q7725634 .
  }
  ?derivativeWork wdt:P31/wdt:P279* wd:Q11424  .
  ?derivativeWork wdt:P144 ?work .
                         
  ?country (wdt:P36 | p:P36 / ps:P36) ?capitalCity .  
  ?capitalCity wdt:P31 wd:Q515 ; #get cities
                  wdt:P17 wd:Q38 .

  ?work wdt:P495 ?country .
} 
"""
based_on_iww_df3 = query_wikidata(endpoint, based_on_italian_ww2, user_agent, True)

# Add the results to the set
for index, row in based_on_iww_df3.iterrows():
    derived_works_iww.add(row['derivativeWork'])

based_on_iww_df3

                                derivativeWork
0       http://www.wikidata.org/entity/Q155018
1       http://www.wikidata.org/entity/Q640054
2       http://www.wikidata.org/entity/Q649656
3       http://www.wikidata.org/entity/Q683014
4      http://www.wikidata.org/entity/Q1056781
..                                         ...
136  http://www.wikidata.org/entity/Q108672811
137  http://www.wikidata.org/entity/Q111751446
138  http://www.wikidata.org/entity/Q113529291
139  http://www.wikidata.org/entity/Q114725240
140      http://www.wikidata.org/entity/Q19356

[141 rows x 1 columns]

In [94]:
len(derived_works_iww)

192

## 3. Any kind of film based on any kind of literary work

In [4]:
query_films_literary_works = """
SELECT (COUNT(DISTINCT ?derivativeWork) AS ?derivativeWork) 
WHERE {
  ?work wdt:P31/wdt:P279* wd:Q7725634 .
  ?derivativeWork wdt:P31/wdt:P279* wd:Q11424  .
  ?derivativeWork wdt:P144 ?work .
  
                             
} 
"""
films_literary_works_df = query_wikidata(endpoint, query_films_literary_works, user_agent, True)
films_literary_works_df

   derivativeWork
0            9462

### b. Any kind of film based on any kind of italian literary work

In [6]:
query_films_italian_literary_works = """
SELECT (COUNT(DISTINCT ?derivativeWork) AS ?derivativeWork) 
WHERE {
  ?work wdt:P31/wdt:P279* wd:Q7725634 .
  ?derivativeWork wdt:P31/wdt:P279* wd:Q11424  .
  ?derivativeWork wdt:P144 ?work .   
  
  ?person wdt:P31 wd:Q5 ;
            wdt:P27 ?country .                          #the block gets the writers having had the citizenship of a country, whose capital city is now an Italian city
    ?country (wdt:P36 | p:P36 / ps:P36) ?capitalCity .  
    ?capitalCity wdt:P31 wd:Q515 ; #get cities
                  wdt:P17 wd:Q38 .


    {
      ?work wdt:P170 ?person .
     }UNION{
      ?work wdt:P50 ?person .                            
     }UNION{
      VALUES ?authorOf {wdt:P1455 wdt:P800}      
      ?person ?authorOf ?work .
    }
                         
}
"""
films_italian_literary_works_df = query_wikidata(endpoint, query_films_italian_literary_works, user_agent, True)
films_italian_literary_works_df

   derivativeWork
0             141

## 4. Any kind of film based of novels

In [5]:
query_films_novels = """
SELECT (COUNT(DISTINCT ?derivativeWork) AS ?derivativeWork) 
WHERE {
  ?work wdt:P31 wd:Q8261 .
  ?derivativeWork wdt:P31/wdt:P279* wd:Q11424  .
  ?derivativeWork wdt:P144 ?work .                           
} 
"""
films_novels_df = query_wikidata(endpoint, query_films_novels, user_agent, True)
films_novels_df

   derivativeWork
0              69