In [1]:
from pandas import *
from queryWikidata import query_wikidata

endpoint = "https://query.wikidata.org/sparql"
user_agent = "Mozilla/5.0 (Macintosh; Intel Mac OS X 10.15; rv:105.0) Gecko/20100101 Firefox/105.0"

Since the films extracted in the "categories.py" file are described as `based on` some novels, in this notebook the data will be retrienved on the basis of this property (`P144` -> "based on").

## 1. Any kind of audiovisual work based on any kind of written work

In [2]:
query_audiovisual = """
SELECT (COUNT(DISTINCT ?derivativeWork) AS ?derivativeWork) 
WHERE {
    {
      ?work wdt:P31 wd:Q47461344 .
    }UNION{
      ?work wdt:P31/wdt:P279* wd:Q7725634 .
    }
    ?derivativeWork wdt:P31/wdt:P279* wd:Q2431196  .
    ?derivativeWork wdt:P144 ?work .                           
} 
"""
audiovisual_df = query_wikidata(endpoint, query_audiovisual, user_agent, True)
audiovisual_df

   derivativeWork
0           14883

## 2. Any kind of film based on any kind of written work

In [3]:
query_films = """
SELECT (COUNT(DISTINCT ?derivativeWork) AS ?derivativeWork) 
WHERE {
  {
    ?work wdt:P31 wd:Q47461344 .
  }UNION{
    ?work wdt:P31/wdt:P279* wd:Q7725634 .
  }
  ?derivativeWork wdt:P31/wdt:P279* wd:Q11424  .
   ?derivativeWork wdt:P144 ?work .                           
} 
"""
films_df = query_wikidata(endpoint, query_films, user_agent, True)
films_df

   derivativeWork
0           11275

## 3. Any kind of film based on any kind of literary work

In [4]:
query_films_literary_works = """
SELECT (COUNT(DISTINCT ?derivativeWork) AS ?derivativeWork) 
WHERE {
  ?work wdt:P31/wdt:P279* wd:Q7725634 .
  ?derivativeWork wdt:P31/wdt:P279* wd:Q11424  .
  ?derivativeWork wdt:P144 ?work .                           
} 
"""
films_literary_works_df = query_wikidata(endpoint, query_films_literary_works, user_agent, True)
films_literary_works_df

   derivativeWork
0            9462

### b. Any kind of film based on any kind of italian literary work

In [6]:
query_films_italian_literary_works = """
SELECT (COUNT(DISTINCT ?derivativeWork) AS ?derivativeWork) 
WHERE {
  ?work wdt:P31/wdt:P279* wd:Q7725634 .
  ?derivativeWork wdt:P31/wdt:P279* wd:Q11424  .
  ?derivativeWork wdt:P144 ?work .   
  
  ?person wdt:P31 wd:Q5 ;
            wdt:P27 ?country .                          #the block gets the writers having had the citizenship of a country, whose capital city is now an Italian city
    ?country (wdt:P36 | p:P36 / ps:P36) ?capitalCity .  
    ?capitalCity wdt:P31 wd:Q515 ; #get cities
                  wdt:P17 wd:Q38 .


    {
      ?work wdt:P170 ?person .
     }UNION{
      ?work wdt:P50 ?person .                            
     }UNION{
      VALUES ?authorOf {wdt:P1455 wdt:P800}      
      ?person ?authorOf ?work .
    }
                         
}
"""
films_italian_literary_works_df = query_wikidata(endpoint, query_films_italian_literary_works, user_agent, True)
films_italian_literary_works_df

   derivativeWork
0             141

## 4. Any kind of film based of novels

In [5]:
query_films_novels = """
SELECT (COUNT(DISTINCT ?derivativeWork) AS ?derivativeWork) 
WHERE {
  ?work wdt:P31 wd:Q8261 .
  ?derivativeWork wdt:P31/wdt:P279* wd:Q11424  .
  ?derivativeWork wdt:P144 ?work .                           
} 
"""
films_novels_df = query_wikidata(endpoint, query_films_novels, user_agent, True)
films_novels_df

   derivativeWork
0              69